<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.dao.AddressMapper">
    <!--删除地址-->
    <delete id="deleteAddress">
        delete from address where id=#{id}
    </delete>
    <!--根据查询地址-->
    <select id="selectAddressById" resultType="Address">
        select * from address where id=#{id}
    </select>
    <!--增加地址-->
    <insert id="InsertAddress">
        insert into address(zipCode,site,phone,receiver,userId)
         values(#{zipcode},#{site},#{phone},#{receiver},#{userid})
    </insert>
    <!--更新地址-->
    <update id="updateAddressById">
        update address set
        zipCode=#{zipCode},
        site=#{site},
        phone=#{phone},
        receiver=#{receiver}
        where id=#{id}
    </update>
</mapper>