<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.dao.AdminMapper">
    <insert id="insertAdmin">
   insert into admin(superName,password,access)values(#{supername},#{password},#{access})
 </insert>
    <select id="findAdmin" resultType="com.neu.bean.Admin">
        select * from admin where superName=#{username} and password=#{password} and access=0;
    </select>

</mapper>