<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.dao.UserCenterMapper">
    <!--游客查询订单-->
    <select id="SelectOrder" resultType="map">
      SELECT od1.orderNum,totalPay,od1.createTime,orderStatus,id
        FROM  orders od1
        where od1.createTime &gt;= #{datatime1}
        and od1.createTime &lt;= #{datatime2}
        and od1.orderNum=#{orderNum}
    </select>
    <!--用户查询订单,为空-->
    <select id="SelectOrdered" resultType="map">
      SELECT od1.orderNum,totalPay,od1.createTime,orderStatus,id
        FROM  orders od1
        where od1.createTime &gt;= #{datatime1}
        and od1.createTime &lt;= #{datatime2} and userId=#{id}
      </select>

    <select id="SelectOrdered1" resultType="map" >
            <!--订单号不空-->
        SELECT od1.orderNum,totalPay,od1.createTime,orderStatus,id
        FROM  orders od1
        where od1.createTime &gt;= #{datatime1}
        and od1.createTime &lt;= #{datatime2} and userId=#{id} and  od1.orderNum=#{orderNum}
    </select>
    <!--订单详情-->
    <select id="OrderDetail" resultType="map">
        select od1.orderNum,
        od.orderId orderid,
        gs.title,
        od.goodsId goodsid,
        od.goodsNum goodsnum,
        gs.goodsName,gs.imgpath,
        gs.price,od.pay
        from orderdetail od,orders od1,goods gs
        where od.orderId=od1.id and gs.id=od.goodsId
        and od1.id=#{id}
    </select>
    <!--通过用户id来查寻所有订单-->
    <select id="myOrder"  resultType="map" parameterType="Integer">
		select id,orderNum,totalPay,userId,orderStatus,createTime from orders where userId = #{bid}
	</select>
</mapper>